
          <%if user_signed_in? %>
            <div class="user-name">
            <p class="round-image-50">
            <%= image_tag(current_user.avatar.url(:thumb)) %></p>
              <%= comment.user.name %>
            </div>
            <%end %>
            <div class="comment-content">
              <%= comment.content %>
              <div class="text-right">
                  <% if comment.user == current_user %>
                    <%= link_to user_post_comment_path(post.user,post, comment), method: :delete, data: { confirm: "Are you sure?" } ,remote: true do %>
                      <span class="glyphicon glyphicon-remove delete-comment"></span>
                    <% end %>
                  <% end %>
              </div>    
            </div>
          
       